.footer__link {
    text-decoration: none;
    margin-right: 18px;
    color: #FFFF;
    font-size: 16px;
    line-height: 1.12;
    font-weight: 400;
}

.footer__link:hover{
    opacity: 0.8;
    transition: 0.5s ease;
}

@media screen and (max-width: 560px) {
    .footer__link {
        margin: 0 auto 26px 0;
        font-size: 20px;
        line-height: 2;
    }
}

@media screen and (max-width: 425px) {
    .footer__link {
        margin: 0 auto 32px 0;
        font-size: 24px;
        line-height: 2.2;
    }
}