.footer__links {
    display: flex;
    margin: 40px 0 0;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 560px) {
    .footer__links {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 48px;
    }
}