.place__paragraph {
    color: #FFFF;
    margin: 0 0 24px;
    font-size: 18px;
    line-height: 1.67;
    font-weight: 400;
}

@media screen and (max-width: 950px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 1.64;
    }
}

@media screen and (max-width: 560px) {
    .place__paragraph {
        margin: 0 16px 24px 16px;
        font-size: 16px;
        line-height: 1.68;
    }
}