@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);

.intro {
    max-width: 690px;
    height: 428px;
    margin-right: 442px;
    margin-bottom: 92px;
    margin-top: 92px;
    margin-left: 148px;
    margin: 0 auto;
}

@media screen and (max-width: 320px){
    .intro {
        max-width: 288px;
        min-height: 752px;
        margin-right: 16px;
        margin-bottom: 64px;
        margin-top: 64px;
        margin-left: 16px;
    }
}

@media screen and (max-width: 768px){
    .intro {
        width: 720px;
        margin-top: 88px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 1024px){
    .intro {
        margin-left: 48px;
        margin-right: 286px;
    }
}