.place__link {
    color: #FFFF;
    margin: 0;
    text-decoration-line: underline;
    text-decoration: underline;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
}

.place__link:hover{
    text-decoration: underline;
    opacity: 0.8;
    transition: 0.5s linear;
}